{{ ansible_managed }}
{{ jboss_eap_jboss_home }}/standalone/log/server.log.????-??-?? {
  su {{ jboss_eap_user }} {{ jboss_eap_group }}
  daily
  compress
  nocreate
  nodateext
  missingok
  size 0
  postrotate
   /usr/bin/find {{ jboss_eap_jboss_home }} -name '*.gz' -mtime +{{ jboss_eap_logrotate_days_to_keep }} -delete
  endscript
}
